<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm Jack. I'm currently in my third year at Iowa State University working towards my degree in Software Engineering.
                    My main interests are in Web Development and Data Sceince.</p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>
