---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" style="padding: 75px 0">
					{% if page.url == '/' %}
					{% if site.logo %}
					<img src= "{{ site.logo }}" style="height: 150px">
					{% endif %}
					{% else %}{% endif %}
                    <h1>Projects</h1>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>

    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <h2 class="post-title">{{ page.title }}</h1>
              <h3 class="post-subtitle">{{ page.subtitle }}</h2>

              {% if page.github %}
              <h4 class="meta"><a href="{{page.github}}"><i class="fa fa-github"></i> {{page.github}}</a></h4>
              {% endif %}
              {% if page.github2 %}
              <h4 class="meta"><a href="{{page.github2}}"><i class="fa fa-github"></i> {{page.github2}}</a></h4>
              {% endif %}

              {% if page.website %}
              <h4 class="meta"><a href="{{page.website}}"><i class="fa fa-globe"></i> {{page.website}}</a></h4>
              {% endif %}

              {{ content | markdownify }}

            </div>
        </div>
    </div>
</article>

<hr>

{% include _comments.html %}

<hr>
